<form class="horizontal">
  <div class="nested-fields">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Houseno%><br>
            <%= f.text_field :house_no %>
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Streetno%><br>
            <%= f.text_field :street_no %>
          </div>    
        </div>   
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Area %><br>
            <%= f.text_field :area %>
          </div>        
        </div>
      </div><br> 
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :City %><br>
            <%= f.text_field :city %>
          </div>
        </div>  
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :State %><br>
            <%= f.text_field :state %>
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Country %><br>
            <%= f.text_field :country %>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Pincode %><br>
            <%= f.text_field :pin %>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-4">
          <div class="col-sm-1">
            <%=f.check_box :permanent,{},true, false %>    
          </div>
          <div class="col-sm-10">
            <h6>click here to make it as permanent address</h6>
          </div> 

          <div class="col-sm-offset-1">
            <%= link_to_remove_association "remove address", f %>    
          </div> 
        </div> 
        <div class="col-sm-4"></div>  
        <div class="col-sm-4"></div>
      </div>  
    </div>
  </div>  
</form>