<form class="horizontal">
  <div class="nested-fields">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Houseno%>
            <%= f.text_field :house_no %>
          </div>  
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Streetno%>
            <%= f.text_field :street_no %>
          </div>    
        </div>   
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Area %>
            <%= f.text_field :area %>
          </div>        
        </div>
      </div><br> 
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :City %>
            <%= f.text_field :city %>
          </div>
        </div>  
        <div class="col-sm-3">
          <div class="form-group">
            <%= f.label :State %>
            <%= f.text_field :state %>
          </div>  
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <%= f.label :Country %>
            <%= f.text_field :country %>
          </div>
        </div>  
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :Pincode %>
            <%= f.text_field :pin %>
          </div>
        </div>
        <div class="col-sm-4">
          <%= f.label :Address_proof %>
          <%= f.file_field :image %>        
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-4">
          <%=f.check_box :permanent,{},true, false %>
        </div> 
        <div class="col-sm-4">
          <%= link_to_remove_association "remove address", f %>
        </div>
          
        <div class="col-sm-4"></div>
      </div>  
    </div>
  </div>  
</form>
