<br>
<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h2>Order Details</h2>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Order id</th>
             <td><%=@order.id%></td>
          </tr>

          <tr>
            <th>Fullname</th>
             <td><%=current_user.full_name%></td>
          </tr>
          <tr>   
            <th>Amount</th>
            <td><%=@order.amount%></td>
          </tr>
          <tr>  
            <th>Quantity</th>
            <td><%=@order.quantity%></td>
          </tr>
          <tr>  
            <th>Payement status</th>
            <td>Successfull</td>
          </tr>
        </thead>
      </table><br>
      <%= button_to "Continue Shopping", root_path, method: "get", class: "btn-info" %>
    </div>  
  </div>  
</div>
      
