<br><br>
  <h2> Complete your payement </h2>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(current_user.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for [current_user,@order], url: transfer_user_order_bank_accounts_path(current_user,@order) do |f| %>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        Account no.<%= text_field_tag 'debit_acc'%> 
      </div>
      <%= hidden_field_tag(:credit_acc, :credit_account, { value: "9167944111"})%>
      <%= hidden_field_tag(:order_id, :credit_account, { value: @order.id})%>
      
      <div class="col-sm-4">
        Amount<%= text_field_tag 'amount', @order.amount%>
      </div>
    </div> 
    <br><br>
    
    <div>
      <%=submit_tag("Submit")%>  
    </div>
  </div>    
<%end%>
