<h2>Welcome to the online e-commerce website</h2><br>
<%@items.each do |item|%>
  Title: <%=item.title%><br>
  Description: <%=item.description%><br>
  Price: <%=item.price%><br>
  <%= image_tag(item.image_url) if item.image? %>
  <%=link_to 'purchase', purchase_item_item_path(item.id)%>
<% end %>



